body {
  background: #000;
  color: #fff;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 14px;
  margin: 10px 0;
}

.App .footer-link {
  text-decoration: none;
  color: #bb88fa;
}

.App .footer-link:hover {
  color: #ff69b4;
}
