.Weather .btn-primary {
  background: #ff69b4;
  border: 1px solid #fff;
}

.Weather .btn-primary:hover {
  background: #c973e7;
  border: 1px solid #fff;
}

.Weather .weather-app-wrapper {
  max-width: 600px;
  margin: 10px auto;
}

.Weather .weather-app {
  max-width: 600px;
  margin: 20px auto 10px;
  padding: 20px;
  border: 1px solid #ff69b4;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

.Weather .overview {
  margin-bottom: 30px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  position: relative;
  top: -20px;
}

.Weather .weather-temperature strong {
  color: #ff69b4;
  font-size: 64px;
  font-weight: 300;
  line-height: 1px;
  margin-top: 10px;
}

.Weather .units {
  position: relative;
  font-size: 14px;
  font-weight: 200;
  top: -32px;
  color: #f2f2f1;
}

.Weather .fahrenheit-link {
  text-decoration: none;
  color: #6dbffe;
  opacity: 0.7;
}

.Weather .fahrenheit-link:hover {
  color: #ff69b4;
}

.Weather .celcius-link {
  text-decoration: none;
  color: #6dbffe;
  opacity: 0.7;
}

.Weather .celcius-link:hover {
  color: #ff69b4;
}

.Weather .weather-temperature .active {
  color: #fff;
  cursor: default;
  opacity: 1;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .reference {
  text-decoration: none;
  color: #6dbffe;
}

.Weather .reference:hover {
  text-decoration: none;
  color: #ff69b4;
}
