.Weather {
  font-family: "Gill Sans", sans-serif;
  border: 1px solid #ff69b4;
  border-radius: 4px;
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #ff69b4;
  font-size: 28px;
  font-weight: 200;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: 400;
  color: #ff69b4;
  line-height: 64px;
}

.Weather .unit {
  color: #f2f2f1;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}
