.Weather {
  font-family: "Gill Sans", sans-serif;
  border: 1px solid #2a52be;
  border-radius: 4px;
  padding: 16px;
}

.Weather .search-button {
  background: #bb88fa;
  border: 1px solid #fff;
  color: #000;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #ff69b4;
  font-size: 28px;
  font-weight: 200;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
  position: relative;
}

.Weather .temperature {
  font-size: 70px;
  font-weight: 400;
  color: #ff69b4;
  line-height: 1;
  margin-left: 5px;
}

.Weather .unit {
  color: #f2f2f1;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}

.loading-message {
  color: #ff69b4;
  opacity: 0.7;
  text-align: center;
}

.loading-animation {
  justify-content: center;
}

.WeatherInfo .date-description {
  margin-top: 5px;
}

.WeatherTemperature a {
  text-decoration: none;
  color: #bb88fa;
}

.WeatherTemperature a:hover {
  color: #ff69b4;
}
